<div class="category" id="category">
  <div class="category__back">
    <a href="#start">
      <i class='white bx bx-arrow-back category__back'></i>
    </a>
  </div>
  <div class="category__grid">
    <div class="category__block">
      <p>Реализм</p>
      <span id='Realism' class='category__score'></span>
      <a class="submit primary_btn category__btn" href="#quiz">
        <div class="category__btn-container">
          <p class="category__btn-text"> Play →</p>
        </div>
      </a>
    </div>
    <div class="category__block">
      <p>Импрессионизм</p>
      <span id='Impressionism' class='category__score'></span>
      <a class="submit primary_btn category__btn" href="#quiz">
        <div class="category__btn-container">
          <p class="category__btn-text"> Play →</p>
        </div>
      </a>
    </div>
    <div class="category__block">
      <p>Религия</p>
      <span id='Religion' class='category__score'></span>
      <a class="submit primary_btn category__btn" href="#quiz">
        <div class="category__btn-container">
          <p class="category__btn-text"> Play →</p>
        </div>
      </a>
    </div>
    <div class="category__block">
      <p>Портрет</p>
      <span id='Portrait' class='category__score'></span>
      <a class="submit primary_btn category__btn" href="#quiz">
        <div class="category__btn-container">
          <p class="category__btn-text"> Play →</p>
        </div>
      </a>
    </div>
    <div class="category__block">
      <p>Моренизм</p>
      <span id='Marine' class='category__score'></span>
      <a class="submit primary_btn category__btn" href="#quiz">
        <div class="category__btn-container">
          <p class="category__btn-text"> Play →</p>
        </div>
      </a>
    </div>
    <div class="category__block">
      <p>Ренесаннс</p>
      <span id='Renaissance' class='category__score'></span>
      <a class="submit primary_btn category__btn" href="#quiz">
        <div class="category__btn-container">
          <p class="category__btn-text"> Play →</p>
        </div>
      </a>
    </div>
    <div class="category__block">
      <p>Пейзаж</p>
      <span id='Landscape' class='category__score'></span>
      <a class="submit primary_btn category__btn" href="#quiz">
        <div class="category__btn-container">
          <p class="category__btn-text"> Play →</p>
        </div>
      </a>
    </div>
    <div class="category__block">
      <p>Авангард</p>
      <span id='Avant-garde' class='category__score'></span>
      <a class="submit primary_btn category__btn" href="#quiz">
        <div class="category__btn-container">
          <p class="category__btn-text"> Play →</p>
        </div>
      </a>
    </div>
    <div class="category__block">
      <p>Сюрреализм</p>
      <span id='Surrealism' class='category__score'></span>
      <a class="submit primary_btn category__btn" href="#quiz">
        <div class="category__btn-container">
          <p class="category__btn-text"> Play →</p>
        </div>
      </a>
    </div>
    <div class="category__block">
      <p>Романтизм</p>
      <span id='Romanticism' class='category__score'></span>
      <a class="submit primary_btn category__btn" href="#quiz">
        <div class="category__btn-container">
          <p class="category__btn-text"> Play →</p>
        </div>
      </a>
    </div>
  </div>
</div>