<div class="final" id="final">
  <div class="white__container">
    <div class="settings__back">
      <a href="#start">
        <i class='bx bxs-home-circle'></i>
      </a>
    </div>
    <h2>Вы ответили на все вопросы!</h2>
    <span class="final__text">Ваш результат:</span>
    <span class="final__score" id="final-score"></span>
    <a class="submit primaty_btn start__btn" href="#quiz">
      <div class="start__btn-container">
        <p class="start__type">Сыграть еще раз</p>
      </div>
    </a>
    <a class="submit primaty_btn start__btn" href="#category">
      <div class="start__btn-container">
        <p class="start__type">Выбор категории</p>
      </div>
    </a>
  </div>
</div>