<div class="settings">
      <div class="white__container">
        <div class="settings__back">
          <a href="#start">
            <i class='bx bx-arrow-back'></i>
          </a>
        </div>
        <h2 class="settings__heading">Настрой свой квиз!</h2>
        <div class="settings__btn-container">
          <p class="settings__type">Включить музыку</p>
        </div>
        <h3 id="volume-text">Громкость музыки:</h3>
        <div class="volume">
          <div class="volume__mousemove-container">
           <div class="volume__progress-container" id="volume-progress-container1">
              <div class="volume__progress" id="volume-progress1"></div>
            </div>
        </div>
          <i class='bx bxs-volume-full volume__icon player-icon' id = 'v1'></i>
        </div>
      </div>
</div> 