<div class="settings">
      <div class="white__container">
        <div class="settings__back">
          <a href="#start">
            <i class='bx bx-arrow-back'></i>
          </a>
        </div>
        <h2 class="settings__heading">Настрой свой квиз!</h2>
        <h3>Громкость музыки:</h3>
        <div class="volume">
          <div class="volume-progress-container" id="volume-progress-container1">
            <div class="volume-progress" id="volume-progress1"></div>
          </div>
          <i class='bx bxs-volume-full volume-icon player-icon' id = 'v1'></i>
        </div>
      </div>
</div> 